
html,
body {
  font-size: 16px;
  color: #484848;
  font-family: comicFont;
}

.detail-desc-product span,.detail-desc-product p,.detail-desc-product ul
{
  font-family: comicFont !important;
}

/*#################################
  #           OVERRIDES           #
  #################################*/

.page-container {
  max-width: 1024px;
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

.page-container-log {
  max-width: 1024px;
  width: 80%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 991px) {
  .container {
    min-width: 100%;
  }
}

h1 {
  font-size: 2.25rem;
  font-weight: 600;
}

h2 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: 600;
}

h3 {
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
  font-weight: 600;
}

p {
  color: #484848;
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.btn {
  padding-right: 16px;
  padding-left: 16px;
  border-radius: 8px;
  transition: 0.2s ease-in-out;
}

.btn.btn-primary {
  color: #fff;
  font-weight: 600;
  border: 0;
  background-color: #B31205;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.input-group-text {
  background-color: #f1f1f1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border: 0;
}

.form-control {
  padding: 0.75rem;
  border: 0;
  border-radius: 8px;
  background-color: #f1f1f1;
}

.form-control:hover,
.form-control:focus {
  background-color: #f1f1f1;
  outline: 0;
  box-shadow: 0;
}

.text-primary {
  color: #ff5a5f !important;
}

/*#################################
  #            COMMON             #
  #################################*/

.inner {
  padding: 40px 0;
}

.section-heading {
  
  position: relative;
  margin-bottom: 30px;
  padding-bottom: 1px;
}

.section-heading::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 100px;
  height: 4px;
  background-color: #9FC8A6;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .listing-text {
    display: flex;
  }
}

@media (max-width: 799px) {
  .listing-text {
    display: block !important;
  }

  .listing-text .three-column {
    max-width: 100% !important;
  }
}

@media (max-width: 799px) and (min-width: 450px) {
   .listing-text.log{
      width: 70%;
      margin : auto;
    }
}

.listing-text {
  justify-content: space-between;
  margin-left: -1rem;
  margin-right: -1rem;
}

.listing {
  display: flex;
  justify-content: space-between;
  /*margin-left: -1rem;
  margin-right: -1rem;*/
}

.listing .three-column {
  flex: 1 1 calc(33.33% - 0.5rem);
  margin: 0 1rem;
}



.listing .four-column {
  flex: 1 1 calc(25% - 0.5rem);
  margin: 0 1rem;
}

@media (max-width: 900px) {
  .listing {
    flex-wrap: wrap;
  }

  .listing .three-column,
  .listing .four-column {
    flex: calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    margin-bottom: 50px;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .listing.no-wrap {
    flex-wrap: nowrap !important;
  }
  .listing.no-wrap .common-card.img_common {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .listing .three-column,
  .listing .four-column {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .listing .common-card {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .listing.no-wrap [class*="column"] {
    /*margin-left: 0.5rem;*/
    margin-right: 0.5rem;
  }
}

.badge {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
  text-align: left;
}

.badge .badge-avatar {
  width: 44px;
  height: 44px;
  margin-right: 8px;
  border-radius: 50%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 1px 5px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.badge .badge-label {
  font-weight: 600;
  margin-bottom: 0.25em;
}

.badge .badge-ship {
  display: inline-block;
  padding: 2px 8px;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.25rem;
  color: #fff;
  background-color: #66b5f3;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12),
    0 1px 3px rgba(0, 0, 0, 0.2);
}

.common-card {
  position: relative;
  display: block;
  height: 225px;
  margin-bottom: 1.5rem;
}

@media (min-width: 768px) and (max-width: 900px) {
  .common-card {
    height: 260px;
  }
}

.common-card .common-card-figure {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 0.25rem;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
    0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
  overflow: hidden;
}

.common-card .common-card-figure img {
  width: 100%;
  height: 100%;
  /*object-fit: cover;*/
  object-position: center;
}

.common-card > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

/*#################################
  #            HEADER             #
  #################################*/

header {
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
}

header .navbar {
  padding-left: 2rem;
}

header .navbar-brand {
  height: 44px;
  padding-top: 0;
  padding-bottom: 0;
}

header .navbar-brand img {
  max-width: 180px;
}

header .navbar {
  background-color: #fff !important;
}

header .navbar-toggler {
  padding: 0;
  border: 0;
}

header .navbar-nav li:not(:last-of-type) {
  margin-right: 10px;
}
@media (max-width: 991px) {
  header .navbar-nav li:not(:last-of-type) {
    
  }
  
  .menu{
    font-weight : 550;
  }
  
  .menu li{
    font-weight : 400;
  }
  
  .menu {
    text-align : left;
    padding : 0px;
   
  }
  
  .menu:nth-last-child(n+3) {
     border-bottom :  2px solid #9FC8;
  }
  
   .menu a:hover {
    text-decoration : none;
    color : black;
  }
}

header .navbar-nav a.btn {
  display: inline-flex;
  align-items: center;
  height: 2rem;
  padding: 6px 8px;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  border-radius: 12px;
}

header .navbar-nav a.btn i {
  margin-right: 8px;
  font-size: 1rem;
}

header .navbar-nav a.btn:hover {
  color: #fff;
  background-color: #9FC8A6;
}

header .navbar-nav .dropdown-toggle::after {
  width: 10px;
  margin-left: 12px;
  border: 0;
  content: url("/assets/images/dropdown.svg");
}

header .navbar-nav .dropdown-toggle img,
header .navbar-nav .dropdown-menu img {
  width: 24px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

header .navbar-nav .dropdown-menu {
  min-width: auto;
  width: 100%;
  padding: 0;
  text-align: center;
}

header .navbar-nav .dropdown-item {
  padding: 3px 4px 4px;
}

/*#################################
  #            SEARCH             #
  #################################*/
.search .form-inline {
  padding: 16px;
  background-color: #fff;
  border-radius: 8px;
}



.mySlides
{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.mySlides img
{
  display: block;
  height: 520px;
  width: 100%;
  object-fit: cover;
}

/*.img1{
  background: url(../assets/background.jpeg) center / cover no-repeat;
}

.img2{
  background: url(../assets/background2.jpg) center / cover no-repeat;
}

.img3{
  background: url(../assets/background3.jpg) center / cover no-repeat;
}*/

.search h1 {
  margin-bottom: 32px;
  font-weight: 600;
  color: #fff;
  position : absolute;
  left : 12%;
  top : 400px;
}

.search h2 {
  margin-bottom: 32px;
  font-weight: 600;
  color: #fff;
  position : absolute;
  left : 12%;
  top : 400px;
  font-size: 2.25rem;
}

.search .form-inline {
  flex-wrap: nowrap;
}

@media (min-width: 992px) {
  .search .form-inline .search-locale {
    flex-grow: 1;
  }
}

@media (max-width: 991px) {
  .search .form-inline > * {
    flex: 1 1 auto;
  }
}

@media (max-width: 700px) {
  /*.search h1 {
    font-size: 1.625rem;
  }*/

  .search .form-inline {
    display: block;
    text-align: center;
  }

  .search .form-inline > div {
    margin-bottom: 1rem;
  }
}



/*#################################
  #          A LA UNE             #
  #################################*/

.ville-ala-une a {
  display: block;
  height: 190px;
  padding: 0 8px;
  border-radius: 8px;
}

@media (min-width: 850px) and (max-width: 991px) {
  .ville-ala-une a {
    height: 250px;
  }
}

.ville-ala-une a.common-card > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  background-color: rgba(255, 255, 255, 0.12);
}

.ville-ala-une a.common-card > div span {
  position: relative;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.ville-ala-une a.common-card > div span::before {
  position: absolute;
  left: 5%;
  bottom: -2px;
  width: 90%;
  height: 3px;
  margin: auto;
  content: "";
  background-color: #ff5a5f;
  border-radius: 5px;
}

.ville-ala-une .btn-rounded {
  width: 38px;
  height: 38px;
  padding: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 50%;
}

.ville-ala-une .btn-rounded {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.ville-ala-une .btn-rounded.btn-prev {
  left: 0;
}

.ville-ala-une .btn-rounded.btn-next {
  right: 0;
}

@media (min-width: 992px) {
  .ville-ala-une .btn-rounded.btn-prev {
    left: -16px;
  }

  .ville-ala-une .btn-rounded.btn-next {
    right: -16px;
  }
}

.ville-ala-une .btn-rounded svg {
  width: 1rem;
  height: 1rem;
  fill: #555;
}

/*#################################
  #          A LA UNE             #
  #################################*/

.residences {
  background-color: #e0f0fd;
}

 .common-card > div,
.chambres .common-card > div {
  height: auto;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.listing div.btn {
  margin: 8px;
}

.candidature {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 8px 8px 24px;
  background-color: #fff;
  clip-path: ellipse(100% 100% at 100% 100%);
  border-bottom-right-radius: 0.25rem;
  position : absolute;
  right : 0px;
  font-weight:bold;
}

 .candidature.warning i {
  color : #B31205;
}

 .candidature i {
  font-size: 30px;
  color: #9FC8A6;
}

 .candidature span {
  font-size: 0.75rem;
  color: initial;
}

.common-card + div {
  margin-top: -0.5rem;
}

.card-caption .card-title {
  font-weight: 600;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  height: 48px;
}

.card-subtitle {
    font-size: 0.85rem;
    color: #979797;
    margin-top: 8px;
}

.actualites a {
  text-decoration: none;
  color: #484848;
}

.actualites .common-card img {
  transition: all ease-in 0.2s;
}

.actualites .common-card img:hover,
.actualites .common-card img:focus {
  transform: scale(1.25);
  transform-origin: center;
}

.actualites .common-card {
  height: 144px;
}

@media (max-width: 950px) {
  .actualites .listing {
    flex-wrap: wrap;
  }

  .actualites .four-column {
    flex: 0 0 calc(50% - 2rem);
    max-width: calc(50% - 2rem);
  }

  .actualites .common-card {
    height: 260px;
  }
}

@media (max-width: 900px) {
  .actualites .common-card {
    height: 200px;
  }
}

.actualites .article-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-weight: normal;
  overflow: hidden;
}

.actualites .article-date {
  color: #adadad;
  font-size: 0.75rem;
}

.media {
  background-color: #f5f5f5;
}

.media .listing {
  max-width: 85%;
  margin: 1rem auto 2rem;
}

.media .media-item {
  text-align : center;
  /*height: 70px;
  background-color: #f8f8f8;
  border-radius: 50%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;*/
}

@media screen and (min-width: 980px){
  .media .media-item {
    flex: 0 0 25%;
  }
}

@media screen and (max-width: 879px){
  .media .media-item {
    flex: 0 0 40%;
  }
}

.media-item i{
  font-size: 40px;
    color: #9FC8A6;
}

.media-item .blck-title{
  margin-bottom: 0;
    font-weight: bold;
}

.media-item .blck-subtitle {
  font-size: 0.85em;
    color: #979797;
}

footer h3 {
  margin-bottom: 1rem;
}

footer a {
  display: block;
  text-decoration: none;
  margin-bottom: 0.5rem;
  color: #484848;
  transition: color ease 0.2s;
}

a.text-primary:focus,
a.text-primary:hover,
footer a:hover {
  color: #ff5a5f !important;
  text-decoration: none;
}

footer a > span {
  display: inline-block;
  position: relative;
}

footer a > span::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 100%;
  height: 1px;
  border-bottom: 0px solid #ff5a5f;
  transition: all ease 0.2s;
}

footer a:hover > span::after {
  border-bottom-width: 1px;
}

footer .lang-foot {
  display: flex;
}

footer .lang-foot a {
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.65rem;
  color: #fff;
}

footer .lang-foot a:focus,


footer .lang-foot a img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
}

footer .app {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

footer .app a:first-of-type {
  margin-right: 40px;
}

footer .app img {
  height: 30px;
}

footer .rgpd {
  display: flex;
  justify-content: space-around;
}

.rgpd a {
  margin-bottom: 0;
  font-size: 0.75rem;
}

@media (max-width: 900px) {
  footer .listing {
    margin-left: 0;
    margin-right: 0;
  }

  footer .listing .three-column {
    flex: 0 0 100%;
    min-width: 100%;
    margin: 0 0 2rem;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(72, 72, 72, 0.5);
  }
}

@media (max-width: 600px) {
  footer .rgpd {
    display: block;
  }
}

.m-ic {
  top: 5px;
    margin-right: 6px;
}

.twn {
  padding-left : 6px;
}

footer {
  background-color : #282828;
  color : #fff;
}

footer a{
  color : #fff;
}

footer .ft-three-column {
  margin: 0 1rem;
}

footer .follow {
  margin-top: 8px;
    margin-right: 5px;
}

.cnt-ft {
  border-bottom: 1px solid #9FC8;
  padding-bottom : 20px;
}

footer {
  font-size: 14px;
}

/*MENU DEROULANTE*/

/*Reset CSS*/
*{
    margin: 0px;
    padding: 0px;

}
nav{
    width: 100%;
    margin: 0 auto;
    background-color: white;
    position: sticky;
    top: 0px;
}
.conteneur-nav{
    position: absolute;
    width: 100%;
}
nav input[type=checkbox]{
    display: none;
}
nav label{
    display: inline-block;
    width: 100%;
    padding: 10px 0px;
    text-align: center;
    background-color: gold;
}
nav ul{
    display: none;
    list-style-type: none;
    
}
nav input[type=checkbox]:checked + ul{
    display: flex;
    flex-flow : column wrap;
}
nav ul li{
    flex: 1 1 auto;
    text-align: center;
}

nav a{
    display: block;
    text-decoration: none;
    color: black;
    padding: 10px 0px;
}
.sous{
    display: flex;
    flex-flow: column wrap;
    z-index: 1000;
}

.sous li{
    flex: 1 1 auto;
    text-align: left;
}
.sous a{
    padding: 10px;
}

@media screen and (min-width: 980px){
    .conteneur-nav{
        position: static;
    }
    nav label, nav input{
        /*display: none;*/
    }
    nav input[type=checkbox]:checked + ul, nav ul{
        display: flex;
        flex-flow: row wrap;
    }
    nav ul li{
        position: relative;
    }
    nav > div > ul > li > a{
        color: black;
    }
    nav a{
        border-bottom: 2px solid transparent;
    }
    nav a:hover{
        color: black;
        text-decoration: none; 
    }
    .sous{
        display : none;
        box-shadow: 0px 1px 2px #CCC;
        background-color: white;
        position: absolute;
        width: 250px;
    }
    nav > div > ul li:hover .sous{
        display: flex;
        flex-flow: column wrap;
    }
    .sous a{
        border-bottom: none;
        background-color: white;
    }
  
  .sous li a:hover{
        background-color: #F9F9F9;
    border-bottom :  2px solid #9FC8;
    }
  
  .sous li{
        margin-right : 0px !important;
    }
   
    .deroulant > a::after{
        content: " ▼";
        font-size: 12px;
        margin-left: -8px;
    }

    .sous-compte {
      max-width: 180px;
    }
}

.conteneur-contenu{
  margin: 50px 20px;
  height: 1500px;
}

@media (min-width: 992px) {
  .menu
  {
    padding : 10px 2px 10px 2px;
  }
}



#prevSlide
{
  color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 280px;
    left: 10px;
}

#prevSlide i
{
  
    font-size: 70px;
    font-weight: bold;
}

#nextSlide
{
  color: white;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 280px;
    right: 10px;
  
}

#nextSlide i
{
  
    font-size: 70px;
    font-weight: bold;
}

.btnCarousel {
  display : none;
}

.btnCarousel:hover {
  text-decoration : none;
}

.search:hover .btnCarousel{
  display: flex;
}

.product-summer
{
  transition: box-shadow .5s ease-in-out;
    background-color: #fff;
    margin-top: 0.75rem;
    margin-bottom: 0.5rem;
    border: 1px solid rgba(0,0,0,.04);
    border-radius: 0.25rem;
    padding: 0.5rem;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}





.btn-product-summer{
  font-size: 25px;
    background: #9FC8A6;
    padding-top: 3px;
    padding-left: 3px;
    padding-right: 3px;
  padding-bottom: 3px;
    border-radius: 3px;
}

.btn-product-summer:hover
{
    background-color: #97b79b;
}

.btn-panier
{
  background-color: #B31205;
  
}

.btn-product-summer span{
  padding: 3px;
}

.btn-product-summer i{
  font-size: 25px;
  color: white;
}
.right
{
  float : right;
}

.left
{
  float : left;
}

.menu .btn-outline-secondary{
  margin-top:5px;
}

.btn-outline-secondary i{
  top : -1.3px;
}

.menu a.menu-a{
  display: inline-flex;
  width: 100%;
}

.panier i
{
  
  margin-right: 5px;
  font-size: 22px;
  /*color: #9FC8A6;*/
  color : #B31205;

}

.menu a::after{
  margin-top : 2px;
}

.btn-mbl-menu {
  border : none;
}

.btn-mbl-menu a {
  display : inline-block;
  vertical-align : middle;
  padding : 0;
}

.panier .panier-nb
{
  background: #9FC8A6;
    font-size: 13px;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 2px;
    left: -6px;
  text-align : center;
}

.panier .panier-nb-mbl {
  background: #9FC8A6;
    font-size: 13px;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: absolute;
    top: -7px;
    left: -6px;
    text-align: center;
}


.panier{
  position : relative;
}

.connexion{
  max-width : 120px;
  text-align: center;
}

.epices
{
  background-color : #f5f5f5
}

.img-histo
{
  height: 100%;
}

.histo-title
{
  font-weight: bold;
  font-size: 1.2rem;
}

.histo-text
{
  font-size: 1rem;
  text-align: justify;
}

.menu {
  font-weight: bold;
  font-size: 0.95rem;
}

.container-page
{
  position: relative;
  min-height: 75%;
}

footer
{
    position: relative;
    height: 15.5%;
}

.ipt-frm{
  width: 320px;
  margin-top: 20px;
}
.ipt-frm .ipt{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.pass-forgot
{
  color: black;
  text-decoration: underline;
}

.register{
  padding-left: 60px;
}

.btn-login
{
  width: 100%;
  background-color: #B31205;
  color: #fff;
  font-weight: 600;
  border: 0;
  max-width: 320px;
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.btn-register
{
  background-color: #B31205;
  color: #fff;
  font-weight: 600;
  border: 0;
  margin-top: 15px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}


.lgn-ctt
{
  padding-right: 50px;
}

body,html {
  height: 100%;
}


.page-body-content{
  min-height: 70%;
}

footer{
  min-height: 34%;
}

@media (max-width: 991px) {
  .register-container{
    width: 95%;
    margin : auto;
  }
}

@media (min-width: 992px) {
  .register-container{
    width: 60%;
    margin : auto;
  }
}



.ipt-rgstr{
  width: 100%;
  margin-top: 20px;
}

.ipt-rgstr .ipt{
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.error{
  color : red;
}

.static-page img
{
    display: block;
    height: 350px;
    width: 100%;
    object-fit: cover;
}

.list-partenaires
{
  transition: box-shadow .5s ease-in-out;
  background-color: white;
  margin-top: 0.75rem;
  margin-bottom: 0.5rem;
  border: 1px solid rgba(0,0,0,.04);
  border-radius: 0.25rem;
  padding: 0.5rem;
  min-height: 380px;
  border: 1.5px solid #d5d5d5;
  /*box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);*/
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .list-partenaires {
    width: 100%;
  }
}

@media (max-width: 991px) and  (min-width: 501px){
  .list-partenaires {
    width: 47%;
  }
}

@media (min-width: 992px) {
  .list-partenaires {
    width: 30%;
  }
}

.list-partenaires .img {
  height: 192px;
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
}

.list-partenaires .img img {
  object-fit: cover;
  max-height: 180px;
  width: 100%;
}

.description-partenaires{
  font-size: 0.9rem;
  text-align: justify;
}

.conditions_ventes h3
{
  font-size: 1.6rem;
  font-weight: bold;
}

.conditions_ventes p
{
  text-align: justify;
}

.rgpd{
  padding-top: 8px;
}

.menu {
  padding-top: 5px;
}

.compte i{
  margin-right: 5px;
  font-size: 26px;
  color: #B31205;
}

.txt-cpt{
  margin-top: 1.5px;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: #B31205;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

.nav-tabs .nav-link {
    margin-right: 2px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: black;
    font-weight: bold;
}

.nav-tabs .nav-link:hover {
    margin-right: 2px;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    color: black;
    font-weight: bold;
}

.nav-tabs {
    border-bottom: 2px solid black;
}

.mdp-account{
  display: none;
}



@media (min-width: 992px) {
  .div-account{
    width: 80%;
    margin : auto;
  }
}

.error{
  margin-bottom: 0;
}

.ipt-rgstr label {
  display: block;
}

.country-select{
  width: 100%;
}

@media (max-width: 991px) {
  .list-page .three-column {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .list-page .three-column {
    width: 47%;
    display: inline-block;
    padding: 10px;
    vertical-align: top;
  }
}

.list-page .three-column {
  margin-bottom: 20px;
}

.common-card-detail .common-card-figure{
  position: relative;
}

.form-select{
  display: inline-block;
    color: #232323;
    background: #fff;
    padding: 0.625rem;
    cursor: pointer;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,.2);
}

.select-sorting{
  width: 250px;
  border-radius: 4px;
}

.sorting
{
  margin-bottom: 30px;
  border: 1px solid #9FC8A6;
  padding: 1rem;
  position: relative;
  display: -webkit-flex;
  min-width: 0;
  word-wrap: break-word;
  background-color: #f9f9f9;
  -webkit-background-clip: border-box;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.04);
  border-radius: 0.25rem;
}

.sorting .sort
{
  text-align: right;
}

.lgd-product{
  color: #7a7a7a;
  font-weight: 400;
 
}

.nb-product{
 padding-top: 10px;
  display: block;
}



.listing-product {
  /*display: flex;
  margin-left: -1rem;
  margin-right: -1rem;*/
}

.listing-product .three-column {
  flex: 1 1 calc(33.33% - 0.5rem);
  margin: 0 1rem;
}



.listing-product .four-column {
  flex: 1 1 calc(25% - 0.5rem);
  margin: 0 1rem;
}

@media (max-width: 700px) {
  .listing-product {
    flex-wrap: wrap;
  }

  .listing-product .three-column,
  .listing-product .four-column {
    flex: calc(50% - 2rem);
    max-width: calc(50% - 2rem);
    margin-bottom: 50px;
  }
}

@media (min-width: 601px) and (max-width: 700px) {
  .listing-product.no-wrap {
    flex-wrap: nowrap !important;
  }
  .listing-product.no-wrap .common-card.img_common {
    height: 150px;
  }
}

@media (max-width: 600px) {
  .listing-product .three-column,
  .listing-product .four-column {
    min-width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 2rem;
  }

  .listing-product .product-summer
  {
    min-height: 500px;
  }

  .listing-product .common-card {
    height: 250px;
  }
}

@media (max-width: 767px) {
  .listing-product.no-wrap [class*="column"] {
    /*margin-left: 0.5rem;*/
    margin-right: 0.5rem;
  }
}

@media (min-width: 1017px) {
  .product-summer {
      width: 225px;
      display: inline-block;
      margin-left: 10px;
  }
}


@media (min-width: 839px) and (max-width: 1016px)  {
  .product-summer {
      width: 225px;
      display: inline-block;
      margin-left: 30px;
  }
}

.product-container {
    margin : auto;
  }

@media (min-width: 838px) and (max-width: 1016px)  {
  .product-container {
    max-width : 785px;
  }
}

@media (min-width: 757px) and (max-width: 837px)  {
  .product-container {
    max-width : 785px;
  }

  .product-summer {
      width: 225px;
      display: inline-block;
      margin-left: 3px;
  }
}

@media (min-width: 531px) and (max-width: 756px)  {
  .product-container {
    max-width : 520px;
  }

  .product-summer {
      width: 225px;
      display: inline-block;
      margin-left: 5px;
  }
}

@media (max-width: 530px) {
  .product-summer {
      flex: 1 1 calc(33.33% - 0.5rem);
      min-width: 300px;
      min-height: 485px;
  }

  .search h1, .search h2
  {
    font-size: 1.8rem;
  }
}

@media (max-width: 650px) {

  .product-summer .badge-label
  {
    width: 100%;
  }
}

.product-summer .badge-label
{
  text-wrap: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  height: 50.4px;
  max-width: 200px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.product-summer .card-caption{
  height: 75px;
}

.load-more
{
  margin-top: 10px;
}

.basket-modal-title
{
  padding: 15px;
  text-align: center;
}

.basket-modal-title i{
  color: #B31205;
}

#modal-basket .img-product img{
  height: 126px;
  width: 100%;
  border-radius: 0.25rem;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12);
}

#modal-basket .img-product {
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}

#modal-basket p.detail-p {
    font-size: 0.8rem;
}

#modal-basket p.title-p {
    margin-bottom: initial;
    font-weight: bold;
}



#modal-basket a.qte-btn {
    font-size: 1.4rem;
    color: #B31205;
    text-decoration: none;
    font-weight: bold;
}

#modal-basket .qte-btn.moins{
  padding-right: 10px;
}

#modal-basket .qte-btn.plus{
  padding-left: 10px;
}


@media (max-width: 992px) {

  #modal-basket .product-infos{
    text-align: center;
  }

}


.detail-img-product .btn-rounded {
  width: 38px;
  height: 38px;
  padding: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 50%;
}

.detail-img-product .btn-rounded {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.detail-img-product .btn-rounded.btn-prev {
  left: 0;
}

.detail-img-product .btn-rounded.btn-next {
  right: 0;
}



.detail-img-product .btn-rounded svg {
  width: 1rem;
  height: 1rem;
  fill: #555;
}

.detail-img-product .btn-rounded {
  width: 38px;
  height: 38px;
  padding: 6px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 1px -2px rgba(0, 0, 0, 0.12),
    0 2px 2px 0 rgba(0, 0, 0, 0.14);
  background-color: #fff;
  border-radius: 50%;
}

.detail-img-product .btn-rounded {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.detail-img-product .btn-rounded.btn-prev {
  left: -15px;
}

.detail-img-product .btn-rounded.btn-next {
  right: -15px;
}



.detail-img-product .btn-rounded svg {
  width: 1rem;
  height: 1rem;
  fill: #555;
}


@media (max-width: 400px) {

  .detail-img-product img{
     width: 350px;
  }

}

@media (min-width: 401px) {

  .detail-img-product img{
     width: 100%;
  }

}


.detail-img-product{
  height: 450px;
   
}

.detail-img-product img{
  height: 450px;
}

 a.qte-btn {
    font-size: 1.4rem;
    color: #B31205;
    text-decoration: none;
    font-weight: bold;
}

.ipt-qte-p{
    width: 120px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    padding-left: 28px;
    padding-right: 28px;
}

.unit-qte{
    width: 120px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
}

a.qte-btn.moins{
  padding-right: 10px;
  position: absolute;
  left: 10px;
  top: 3px;
}

a.qte-btn.plus{
  padding-left: 10px;
  position: absolute;
  right: 8px;
  top: 4px;
}

.product-detail .qte {
   margin-top: 20px;
}

.product-detail .qte {
   margin-top: 20px;
   margin-left: 15px;
}

.stock {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top : 15px;
    background-color: #fff;
    border-bottom-right-radius: 0.25rem;
    right: 0px;
    font-weight: bold; 
    margin-left: 35px;
}

.stock i {
    font-size: 30px;
    color: #9FC8A6;
}

 .stock span {
    font-size: 13px;
    color: #9FC8A6;
}

 .stock.warning i
{
  color: #B31205;
}

.stock.warning span {
  color: #B31205;
}

.qte{
  position: relative;
  width: 120px;
  display: inline-block;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.btn-detail-panier{
  margin-top: 35px;
  padding: 10px;
  border: 1.5px solid #B31205;
  width: 260px;
  height: 46px;
  border-radius: 2px;
  text-align: center;
  color: #B31205;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.btn-detail-panier:hover{
  text-decoration: none;
  color: #B31205;
  
  /*width: 270px;
  height: 48px;*/
}

.detail-img-product
{
  margin-bottom: 20px;
}

.btn-detail-question
{
  margin-top: 35px;
  padding: 10px;
  height: 46px;
  border: 1.5px solid #9FC8A6;
  color: black;
  border-radius: 2px;
  text-align: center;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
}

.btn-detail-question:hover{
  text-decoration: none;
  color: black;
}

.product-detail .card-subtitle{
  font-weight: bold;
}



.description-heading
{
  position: relative;
  margin-bottom: 15px;
  margin-top: 25px;
  padding-bottom: 1px;
  border-bottom: 1px solid #9FC8A6;
  width: 100%;
}

.detail-desc-product
{
  /*padding-left: 20px;*/
  /*text-align: justify;*/
}



.ipt-search
{
  border-radius: 5px;
  padding: 5px;
  width: 280px;
  font-size: 14px;
  color: #012970;
  border: 1px solid rgba(1, 41, 112, 0.2);
  padding: 7px 38px 7px 8px;
  border-radius: 3px;
  transition: 0.3s;
}

@media (max-width: 610px)  {
  .ipt-search,.div-search
  {
    width: 100%;
  }
}

.div-search
{
  position: relative;
  padding-top: 3px;
}

.div-search #btn-search
{
  position: absolute;
  top: 10px;
  right: 8px;
}

.div-search #btn-search
{
  cursor: pointer;
}

#menu
{
  padding-top: 15px;
}

@media (max-width: 1256px) and (min-width: 992px) {

    header
    {
      position: relative;
        padding-top: 30px;
    }

    .div-search {
        position: absolute;
        right: 26px;
        top: -15px;
    }

    .ipt-search
    {
      width: 320px;
    }

}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

@media  (min-width: 992px) {
    #menu .tooltipmenu .tooltiptext {
    display: none;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 0.3s;
  }

  #menu .tooltipmenu .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  #menu .tooltipmenu:hover .tooltiptext {
    display: block;
    opacity: 1;
  }

  #menu .txt-cpt.tooltiptext {
    bottom: 85%;
  }


}

.panier .product-summary
{
  border-bottom: 1px solid #9FC8A6;
  padding : 15px;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
} 

.panier .heading
{
  border-bottom: 2px solid #B31205;
}

.panier .heading .title-basket
{
  font-size: 1.5rem;
}

.panier .stock
{
  padding-top: 0px;
  margin-top: -6px;
}

.row-qte{
  padding-left: 15px;
}

.custom-btn
{
  padding: 10px;
  border: 1.5px solid #B31205;
  height: 40px;
  border-radius: 2px;
  text-align: center;
  color: #B31205;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
}

.custom-btn:hover
{
  text-decoration: none;
  color: #B31205;
}

.title-p
{
  font-weight: bold;
}

.badge-label
{
  font-weight: bold;
}

.font-comic
{
  font-family: "Comic Sans MS", Times, cursive;
}

.stock-panier
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;
    background-color: #fff;
    border-bottom-right-radius: 0.25rem;
    right: 0px;
    font-weight: bold;
    margin-right: 15px;
}

.stock-panier i
{
  font-size: 30px;
  color: #9FC8A6;
}

.stock-panier.warning i {
    color: #B31205;
}


@media  (min-width: 817px) {
  .btn-ct
  {
    margin-left: 5px;
  }
}

@media  (max-width: 816px) {
  .btn-ct
  {
    margin-top: 10px;
  }

  .qte{
    margin-right: 15px;
  }

  .panier .img-product img
  {
    height: 185px;
    min-width: 100%;
  }

  .panier .img-product 
  {
    margin-bottom: 15px;
  }

  .btn-devis {
    text-align: center;
  }
}

.btn-devis
{
  padding: 15px;
  width: 98%;
  margin: auto;
}

.custom-btn-sub
{
  padding: 10px;
  border: 1.5px solid #B31205;
  background: #B31205;
  height: 46px;
  border-radius: 4px;
  text-align: center;
  color: white;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  margin-top: 5px;
  min-width: 199px;
}

.custom-btn-sub:hover
{
  text-decoration: none;
  color: white;
  background: #9FC8A6;
  border: 1.5px solid #9FC8A6;
}

.custom-btn-sub i 
{
  color: white;
}

.pagination-ct
{
  margin-top: 30px;
}

.page-item.active .page-link{
  background-color: #B31205;
  border-color: #B31205;
}

.page-link {
  color: #B31205;
  border: 1px solid #9FC8A6;
}

.pagination
{
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  margin:auto;
}

body
{
  /*font-family: "Comic Sans MS", Times, cursive !important;*/
}

.material-icons{
  font-family: "Material Icons" !important;
}

.btn-panier .panier-full{
    display: block;
    position: absolute;
    top: -10px;
    left: 10px;
    background: #9FC8A6;
    font-size: 10px;
    color: white;
    font-weight: bold;
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: px;
    position: absolute;
    top: 1px;
    left: 4px;
    text-align: center;
}

.btn-panier
{
  position: relative;
}

.question-form
{
  padding: 15px;
}

.ipt-tel .iti--show-flags
{
  width: 100%;
}

.basket-modal-title
{
  font-weight: bold;
}

#notif-modal .modal-content
{
  border-left: 12px solid #37E030;
}

#notif-modal .modal-content i
{
  color: #37E030;
  font-size: 25px
}

#notif-modal .modal-content .btn-close
{
  border: none;
  background: white;
  position: absolute;
  right: 10px;
  top: 18px;
}

.img-product{
  cursor: zoom-in;
}

.zoom{
  width: 100%;
  height: 659.6px;
  max-height: 97vh;
  max-width: 100%;
}

#zoom-image .btn-close
{
    position: absolute;
    top: 5px;
    right: 10px;
    background: none;
    border: none;
    font-size: 35px;
    color: white;
}

@media  (max-width: 570px) {
  #zoom-image .btn-close
  {
      color: black;
  }
}

a.block:hover{
  text-decoration: none;
}



@media  (min-width: 992px) {
  .compte i{
    margin-top: -1.5px;
  }
}


/******DEMANDE DE DEVIS******/
.devis-text
{
  margin-bottom: 25px;
  display: block;
  text-align: justify;
}

.devis-btn
{
  text-align: center;
}

.img-product.devis
{
  height: 70px;
  width: 70px;
}

.img-product.devis img
{
  height: 70px;
  width: 70px;
}

.product-infos.devis p {
  font-size: 13px;
}

.product-infos.devis .ipt-qte {
  font-size: 13px;
  height: 30px;
}

.product-infos.devis a {
  font-size: 14px;
}

.devis-product {
  padding: 15px;
  border-bottom: 1px solid #9FC8A6;
  position: relative;
}

.devis-product.first {
  border-top: 1px solid #9FC8A6;
}

#modal-devis .devis-body
{
  max-height: 70vh;
  overflow: scroll;
}

.panier .img-product img
{
  width: 197px;
  height: 160px;
}

.devis .tete
{
  width: 150px;
  padding: 10px;
  border-left: 1px solid #9FC8A6;
  border-right: 1px solid #9FC8A6;
  border-top: 1px solid #9FC8A6;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  background: #9FC8A6;
  color: white;
}

.devis
{
  margin-top: 15px;
  margin-bottom: 15px;
}

.devis .d-body
{
  border: 1px solid #9FC8A6;
  border-top-right-radius: 15px;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
}


.devis .d-body .date-ct
{
  padding-right: 6px;
  padding-left: 8px;
}



.devis .d-body .btn-ct
{
  padding-right: 5px;
}

.devis .statut {
    color: white;
    display: inline-block;
    padding: 5px;
    
    border-radius: 8px;
    border: 1px solid blue;
    text-align: center;
    font-size: 16px;
}

@media (min-width: 701px) {
  .devis .d-body .date-ct .right-elmt {
     float: right;
  }


  .devis .d-body .date-ct
  {
    min-height: 30px;
  }

  .devis .d-body .date-ct .date-update
  {
    float: left;
  }

  .devis .d-body
  {
    min-height: 210px;
  }

  .devis .d-body .ct
  {
    min-height: 150px;
  }

  .devis .d-body .btn-ct
  {
    text-align: right;
  }

  .devis .d-body .detail-ct .product
  {
    width: 90px;
    margin-left: 8px;
  }
}

@media  (max-width: 700px) {
  .devis .d-body .date-ct {
     text-align: center;
  }

  .devis .d-body .btn-ct
  {
    text-align: center;
  }

  .devis .d-body .detail-ct
  {
    text-align: center;
    padding: 5px;
  }
}

@media  (max-width: 520px) and (max-width: 700px) {
  

  .devis .d-body .date-ct
  {
    min-height: 100px;
  }

  .devis .d-body
  {
    min-height: 280px;
  }

  .devis.traite .d-body
  {
    min-height: 340px;
  }

  .devis .d-body .ct
  {
    min-height: 210px;
  }
}

.devis .pied .custom-btn{
  margin-top : 5px;
}

.devis .pied{
  margin-bottom : 10px;
}


.devis .d-body .date-ct .voir_message{
  font-size: 25px;
  padding: 5px;
  color: #B31205;
}

.commander
{
  background: green;
  color: white;
  border-color: green;
}

.devis-price
{
  background: #B31205;
  color: white;
}

.statut.en-attente
{
  background-color: blue;
  border-color : blue;
}

.statut.en-cours
{
  background-color: orange;
  border-color : orange;
}

.statut.en-cours-livraison
{
  background-color: #90EE90;
  border-color : #90EE90;
}

.statut.traite
{
  background-color: green;
}

.devis .d-body .detail-ct .product
{
    width: 90px;
    margin-top: 3px;
    border: 1px solid black;
    padding: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
    display: inline-block;
}

.devis .d-body .detail-ct .product img
{
  width: 90px;
  height: 80px;
}

.devis .d-body .detail-ct .img-prd
{
  position : relative;
}

.devis .d-body .detail-ct .img-prd .qte-prd
{
    position: absolute;
    right: 0px;
    bottom: 0px;
    color: white;
    clip-path: ellipse(100% 100% at 100% 100%);
    background: #B31205;
    padding-left: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 2px;
    text-align: center;
}

.devis .d-body .detail-ct .label-product
{
  text-align: center;
  font-weight: bold;
}

.devis-product .devis-btn-content
{
  position: absolute;
  right: 0px;
  top: 0px;
}

.devis-product .devis-btn-content a
{
  color: #B31205;
}

.tip.tooltipmenu
{
  position: relative;
}

.tip.tooltipmenu .tooltiptext {
    display: none;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 2px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
    transition: opacity 0.3s;
  }

  .tip.tooltipmenu .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tip.tooltipmenu:hover .tooltiptext {
    display: block;
    opacity: 1;
  }

  .tip.txt-cpt.tooltiptext {
    bottom: 85%;
  }


  #btn-delete-product a {
    text-decoration: none;
    color: white;
  }

  #btn-delete-product a:hover {
    text-decoration: none;
    color: white;
  }

  .detail-devis-price
  {
    padding: 0px 0px 15px 0px;
  }

  .admin_message
  {
    background: white; box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); border : 1px solid #9FC8;border-radius : 5px;margin:auto;border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px;
  }

  .center
  {
    text-align: center;
  }

  .commande-container
  {
    background: white; box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1); border : 1px solid #9FC8;border-radius : 5px;margin:auto;border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 20px;
  }

  .cmd-price
  {
    font-weight: bold;
    font-size: 18px;
    margin : auto;
  }

  .cmd-title-info{
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
  }

  .btn-cmd
  {
    max-width: 200px;
    background: green;
  }

  .order-infos-client
  {
    display: none;
  }

  .success-icon
  {
    font-size: 55px;
    text-align: center;
    color: green;
  }

  .cmd-success
  {
    font-size: 15px;
    text-align: center;
  }

  .success-price
  {
    margin-top: 15px;
  }

  .error-icon
  {
    font-size: 55px;
    text-align: center;
    color: #B31205;
  }

 

@media  (max-width: 500px) {
   .tab span
  {
    display: none;
  }

  .tab
  {
    min-width: 80px;
    text-align: center;
    font-size: 20px;
  }
}

.tab-content
{
  padding: 8px;
}

.detail-montant
{
  padding: 20px;
}

.empty
{
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  background: #f9f9f9;
  border: 1px solid #f9f9f9;
  /* border-top-right-radius: 15px; */
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  color: #7a7a7a;
}

.empty-tete
{
  width: 150px;
  padding: 10px;
  border-left: 1px solid #9FC8A6;
  border-right: 1px solid #9FC8A6;
  border-top: 1px solid #9FC8A6;
  border-radius: 15px 15px 0px 0px;
  text-align: center;
  box-shadow: 2px 2px 8px 0 rgba(0,0,0,.2);
  background: #f9f9f9;
  color: white;
}

i.none {
  color: #7a7a7a;
  font-size: 50px;
}

.detail-bskt
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 8px 8px 24px;
  background-color: #fff;
  clip-path: ellipse(100% 100% at 100% 100%);
  border-bottom-right-radius: 0.25rem;
  position: absolute;
  right: 0px;
  font-weight: bold;
  bottom: 0px;
  text-decoration: none;
  font-size: 20px;
  color : #B31205
}

.detail-bskt:hover
{
  text-decoration: none;
  color : #9FC8A6;
}

.product-unite,.panier-unit
{
  display: none;
}

.modal.fade:not(.in).right .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.basket-detail
{
  position: absolute;
  top: 0px;
  height: 100vh;
  background: #fff;
  margin-top: 0px;
  max-width: 600px;
  
}

.basket-detail .basket-content {
  height: 100vh;
}

.header-basket-summ
{
  padding-left: 20px;
}

.dlt-bskt
{
  padding: 5px;
  text-align: center;
  color: #B31205;
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  vertical-align: top;
  position: absolute;
}

.product-summary
{
  position: relative;
}

.dlt-bskt i
{
  margin-right: initial;
}

.ct-ipt-qte
{
  margin-right: 5px;
  margin-bottom: 5px;
}

@media (min-width: 600px) {
  .basket-detail
  {
    width: 500px;
    right: 120px;
  }

  .dlt-bskt
  {
    border: 1.5px solid #B31205;
    border-radius: 50%;
    right: 10px;
    top: 0px
  }

  .bskt-summ-pd .product-infos
  {
    display: inline-block;
  }

  .bskt-summ-pd .prdct-img
  {
    display: inline-block;
    width: 110px;
    height: 140px;
    vertical-align: top;
    margin-right: 10px;
  }

  .bskt-summ-pd .prdct-img img
  {
    width: 110px;
    height: 140px;
  }


}

@media (max-width: 599px) {
  .dlt-bskt
  {
    right: 10px;
    top: -20px
  }

  
}

@media (min-width:576px) and (max-width: 600px) {
  .basket-detail
  {
    right: 105px;
  }
}


@media (min-width:525px) and (max-width: 575.5px) {
  .basket-detail
  {
    right: 95px;
  }
}

@media (min-width:426px) and (max-width: 524px) {
  .basket-detail
  {
    right: 75px;
  }
}

@media (min-width:375px) and (max-width: 425px) {
  .basket-detail
  {
    right: 65px;
  }
}

@media (max-width:374px){
  .basket-detail
  {
    right: 55px;
  }
}







.bskt-sum .ct-btn
{
  padding: 15px;
  width: 98%;
  margin: auto;
  text-align: center;
}

.ct-prdct-bskt-summ
{
  min-height: 60vh;
  max-height: 60vh;
  overflow-y: auto;
  padding-top: 10px;
}

.bskt-qte
{
  display: inline-block;
}

.bskt-qte .unite-qte
{
  width: 80px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2)
}

.cls-bskt
{
  position: absolute;
  right: 15px;
  top: 0px;
  font-size: 20px;
  color: #B31205;
}

.cls-bskt:hover
{
  color: #B31205;
}

.ov-hid
{
  text-wrap: wrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  max-width: 300px;
  white-space: pre-wrap; /* css-3 */
  white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
  white-space: -pre-wrap; /* Opera 4-6 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

.empty-summ
{
  text-align: center;
  font-size: 50px;
  vertical-align: middle;
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  border: 1px solid #f9f9f9;
  color: #7a7a7a;
}

.product-infos.devis .unite-qte {
    font-size: 13px;
    height: 30px;
}

.ipt-radio
{
  width: 100%;
  margin-top: 20px;
}

.ipt-radio label
{
  margin-right: 5px;
}

@media (max-width:476px){
  .product-infos.devis .unite-qte {
      margin-top: 5px;
      width: 120px;
  }
}

.price.tooltipmenu .tooltiptext {
    
    width: 200px;
    left: initial;
}

.ipt-qte-o
{
  margin-bottom: 5px;
}

.ipt-price
{
  min-width: 120px;
  max-width: 250px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  border: 1px solid gray;
  border-radius: 2px;
  box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
  padding-left: 28px;
  padding-right: 28px;
}

.qte-det
{
  margin-top: 5px;
}

.btn-link a
{
  color: white;
  text-decoration: none;
}

a:hover
{
  text-decoration: none;
}


@media (max-width:499px){
  article.maintenance {
    padding: 50px;
  }
}

@media (min-width:500px){
  article.maintenance {
    padding: 150px;
  }
}

.maintenance h1 { font-size: 50px; }
article.maintenance { display: block; text-align: left; width: 100%; margin: 0 auto; text-align: center;}
.maintenance a { color: #dc8100; text-decoration: none; }
.maintenance a:hover { color: #333; text-decoration: none; }

.pu
{
  font-weight: bold;
  color: #B31205;
}

.invoice-container
{
  width: 90%;
  margin: auto;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-invc
{
  text-align: left;
  font-size: 13px;
  color: black;
}

.header-invc a
{
  color: black;
}

.logo-invoice
{
  width: 50%;
  margin: initial;
}

.invoice-row-header
{
  border-bottom: 3px solid #9FC8A6;
  padding-bottom: 20px;
}

.invoice-title
{
  padding: 5px;
  text-align: center;
}

.invoice-title .title
{
  font-weight: bold;
  font-size: 25px;
}

.invoice-title .date
{
  color: black;
}

.ipt-qte-invoice
{
    width: 180px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 8px 0 rgba(0, 0, 0, .2);
    padding-left: 28px;
    padding-right: 28px;
}

.invoice-price
{
  font-weight: bold;
  font-size: 25px;
  margin: auto;
}

.col-4
{
  width: 30%;
  display: inline-block;
}

.col-5
{
  width: 39%;
  display: inline-block;
}

.col-2
{
  width: 20%;
  display: inline-block;
}

.col-3
{
  width: 30%;
  display: inline-block;
}

.col-9
{
  width: 65%;
  display: inline-block;
}

.client-info
{
  overflow-wrap: break-word;
  text-align: right;
}

.invoice-container .detail-montant
{
  border-top: 2px solid #9FC8A6;
}

.invoice-product.first
{
  border-top: 2px solid #9FC8A6;
}

.invoice-product
{
  padding-top: 10px;
  font-size: 14px;
  border-bottom: 2px solid #9FC8A6;
  position: relative;
}

.invoice-product .product-image
{
  vertical-align: middle;
}

@media (max-width:575.5px){
  .radio {
    width: 50%;
    min-width: 180px;
    display: block;
    margin: auto;
  }
}

.bskt-summ-pd
{
  margin-bottom: 22px;
}

#zoom-image .btn-close
{
  color: #9FC8A6;
}

.img-prd {
    height: 80px;
}

.div-montant {
  text-align: center;
}

.loader
{
  background-image: url(/assets/images/loader.gif);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 3px;
}

.loader span
{
  display: none;
}

.btn-loader
{
  background-image: url(/assets/images/loader.gif);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: top;
}

.btn-loader span,.btn-loader i
{
  display: none;
}

.title-basket-summary
{
  font-size: 1.2rem;
}

.stock-content
{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px 8px 8px 20px;
  background-color: #fff;
  clip-path: ellipse(100% 100% at 100% 100%);
  border-bottom-right-radius: 0.25rem;
  font-weight: bold;
}

.stock-content i
{
  font-size: 30px;
  color: #9FC8A6;
}

 .stock-content.warning i
{
  color: #B31205;
}

.detail-desc-product ul
{
  padding-left: 20px;
}

.out-stock
{
  color : #B31205;
}

.in-stock
{
  color : #9FC8A6;
}

.card-subtitle.detail
{
  margin-bottom: 1rem;
}

.section-heading h3
{
  margin-bottom: 1rem;
  font-size: 1.75rem
}













   

      












